.main {
    display: grid;
    grid-template-columns: 225px 555px 300px;
    margin-top: 76px;
    gap: 22px;
}

/* -----------------------------------------left pane------------------------------------------------- */
.left-pane{
    height: 100%
}

/* identity holder  css*/
.identity-holder{
    border: 1px solid #DFDEDA;
    /* box-shadow: 0px 0px 1px 0px #DFDEDA; */
    border-radius: 8px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.cover-img-holder{
    height: 56px;
    width: 100%;
}
.cover-img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.identity-profile-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.identity-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    top: -38px;
    left: 0px;
    cursor: pointer;
}
.identity-name{
    font-size: 16px;
    margin-top: -24px;
    color: #191919;
    font-weight: 600;
    cursor: pointer;
}
.identity-name:hover{
    text-decoration: underline #9a5de5;
}
.identity-text{
    font-size: 12px;
    color: #666666;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}
.right-pane {
    height: 100vh;
    position: fixed;
}
.identity-stat{
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 12px 0px;
}
.identity-stat > div{
    padding: 4px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.identity-stat > div:hover{
    background-color:#F0F0F0 ;
}
.identity-stat-p{
    font-size: 12px;
    color: #666666;
    font-weight: 600;
}
.identity-stat-p-stat{
    font-size: 12px;
    color: #0B66C2;
    font-weight: 600; 
}
.identity-premium{
    padding: 16px 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
}
.identity-premium:hover{
    background-color: #F0F0F0;
}
.identity-premium > p{
    margin-top: 0px;
    margin-bottom: 8px;
}
.identity-premium > div{
    display: flex;
}
.identity-premium-text{
    font-size: 12px;
    /* margin-top: -24px; */
    color: #191919;
    font-weight: 600;
}
.identity-premium-img{
    height: 12px;
    width: 12px;
    margin-right: 4px;
}
.identity-saved-div{
    padding: 16px 12px;
    border-top: 1px solid #E8E8E8;
    display: flex;
    cursor: pointer;
}
.identity-saved-div:hover{
    background-color:#F0F0F0;
}
.identity-saved-div > img{
  height: 14px;  
  width: 10px;
  margin-right: 6px;
}
/* -----------------------------------------feed css--------------------------------------------------- */

.feed {
    height: 100vh;
    overflow-y: auto;
}
/* the create post div css lies below */
.create-post{
    background-color: #FFFFFF;
    padding: 10px 12px 4px 12px;
    border-radius: 8px;
    border: #DFDEDA 1px solid
}
.create-post>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.create-post-img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
}

.create-post-input {
    width: 468px;
    height: 48px;
    border-radius: 40px;
    border: 1px solid #CECECE;
    padding: 0px 20px;
    font-size: 16px;
    box-shadow: 0px 0px 1px 0px #CECECE;
    cursor: pointer;
}
.create-post-input:hover{
    background-color: #f3f3f3;
}

.create-post-input::placeholder {
    Font-Family: apple-system, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", ;
    font-size: 15px;
    font-weight: 500;
    color: #404040;
}
.create-post-btn-div{
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2px;
    cursor: pointer;
}
.create-post-btn-div:hover{
    background-color: #f3f3f3;
    border-radius: 4px;
}
.create-post-btn-div:hover *{
    color: black;
}

.create-post-btn-div >img{
    height: 20px;
    width: auto;
    margin-right: 8px;
}
.create-post-btn-div >p{
   font-size: 14px;
   font-weight: 500;
   color: #404040;
}

